@use "../response" as *;
@use "./mixins.scss" as *;

.gallery-year-section {
  display: inline-block;
  margin: 10px;
  width: 100%;

  a img {
    max-width: 200px;
    @include respond(pc) {
      max-width: 380px;
    }
    @include respond(tablet) {
      max-width: 280px;
    }

    height: auto;
    border: 2px solid #ccc;

    @include site-image-radius;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 1.33em;

    &:hover {
      transform: scale(1.05);
      border-color: #888;
    }
  }
}

.gallery-year-header {
  text-align: center;
  font-size: 3em;
}

.gallery_video_holder {
  display: flex; /* enable flexbox */
  justify-content: center; /* horizontal center (optional) */
  align-items: center; /* vertical center */
  //max-width: 680px;           /* or whatever height you need */
  background: #fff;

  width: 600px;
  height: 340px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  .if_video {
    width: 100%;
    height: 100%;
    @include site-image-radius;
  }
}

.gallery_container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  flex-direction: column;
  .gallery_selector {
    margin-top: 20px;
  }
}
