@use "../response" as *;

#contentarea {
  width: 100%;
}

.sections {
  width: 100%;
}

.sectionfullwidth {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include respond(tablet) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include respond(pc) {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.section {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include respond(tablet) {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include respond(pc) {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.sectionline {
  &::after {
    content: ""; // required for pseudo-elements
    display: block; // makes it appear like an <hr>
    border-bottom: 1px solid #ccc; // color & thickness
    margin: 20px 0; // spacing above & below
  }
  &:last-child::after {
    content: none; // remove the separator for the last section
  }
}

.section_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section_title {
  flex: 100%;
}

.section_header {
  flex: 100%;
}

.section_inner_wrap_left {
  align-items: flex-start;
  gap: 15px; /* space between image and text */

  img {
    float: left;
    max-width: 160px;
    margin-right: 1em;
    @include respond(tablet, pc) {
      display: block;
      float: left;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 15px;
    }
    @include respond(pc) {
      max-width: 480px;
      margin-right: 2em;
    }
    @include respond(tablet) {
      max-width: 360px;
      margin-right: 1em;
    }
  }

  p {
    margin: 0 0 10px 0;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.section_inner_image_left {
  gap: 15px; /* space between image and text */
  .section_right {
    margin-left: 1em;
    @include respond(pc) {
      margin-left: 5em;
    }
    @include respond(tablet) {
      margin-left: 3em;
    }
  }

  .section_left {
    max-width: 180px;
    @include respond(pc) {
      max-width: 480px;
    }
    @include respond(tablet) {
      max-width: 280px;
    }

    img {
      max-width: 100%;

      @include respond(pc) {
        margin-right: 2em;
      }
      @include respond(tablet) {
        margin-right: 1em;
      }

      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 15px;
    }
  }
}

.section_inner_image_right {
  gap: 15px; /* space between image and text */

  .section_right {
    max-width: 180px;
    @include respond(pc) {
      max-width: 480px;
    }
    @include respond(tablet) {
      max-width: 280px;
    }

    img {
      max-width: 100%;

      @include respond(pc) {
        margin-right: 2em;
      }
      @include respond(tablet) {
        margin-right: 1em;
      }

      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 15px;
    }
  }
}

/*
$images-width-pc: 420px;

.section_right_text {
  margin-left: 5em;
}

%section_inner_images_row {
  gap: 20px;
  @include respond(pc) {
    padding-top: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  @include respond(tablet) {
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .section_images_left {
    margin-right: 2em;
    margin-left: 2em;
    width: 160px;
    height: 160px;
    @include respond(pc) {
      margin-right: 2em;
      margin-left: 2em;
      width: $images-width-pc; 
      height: 300px;
    }
    @include respond(tablet) {
      margin-right: 2em;
      margin-left: 2em;
      width: 300px;
      height: 300px;
    }

    position: relative;

    img {
      border: #303030 solid 2px;
      position: absolute;
      width: 160px;
      @include respond(pc) {
        width: 460px;
      }
      @include respond(tablet) {
        width: 260px;
      }
      //width: 250px;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(0deg) translateX(0) scale(1.05);
      }
    }

    img:nth-child(1) {
      transform: rotate(-12deg) translateX(-40px);
      z-index: 1;
    }
    img:nth-child(2) {
      transform: rotate(0deg);
      z-index: 3;
    }
    img:nth-child(3) {
      transform: rotate(12deg) translateX(40px);
      z-index: 2;
    }
  }

  .section_images_left:hover img:nth-child(1) {
    transform: rotate(-18deg) translateX(-80px);
  }

  .section_images_left:hover img:nth-child(3) {
    transform: rotate(18deg) translateX(80px);
  }

 
  .section_images_left img.active {
    z-index: 10;
  }

  .section_images_right {
    margin-right: 2em;
    margin-left: 2em;
    width: 160px;
    height: 160px;
    @include respond(pc) {
      margin-right: 2em;
      margin-left: 2em;
      width: $images-width-pc; 
      height: 300px;
    }
    @include respond(tablet) {
      margin-right: 2em;
      margin-left: 2em;
      width: 300px;
      height: 300px;
    }

    position: relative;

    img {
      border: #303030 solid 2px;
      position: absolute;
      width: 160px;
      @include respond(pc) {
        width: 460px;
      }
      @include respond(tablet) {
        width: 260px;
      }
      //width: 250px;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(0deg) translateX(0) scale(1.05);
      }
    }

    img:nth-child(1) {
      transform: rotate(-12deg) translateX(-40px);
      z-index: 1;
    }
    img:nth-child(2) {
      transform: rotate(0deg);
      z-index: 3;
    }
    img:nth-child(3) {
      transform: rotate(12deg) translateX(40px);
      z-index: 2;
    }
  }

  .section_images_right:hover img:nth-child(1) {
    transform: rotate(-18deg) translateX(-80px);
  }

  .section_images_right:hover img:nth-child(3) {
    transform: rotate(18deg) translateX(80px);
  }

  
  .section_images_right img.active {
    z-index: 10;
  }
}

.section_inner_images_left_row {
  @extend %section_inner_images_row;

  .section_right {
    @include respond(pc) {
      margin-left: 5em;
    }
    @include respond(tablet) {
      margin-left: 1em;
    }
  }
  .section_images_left {
    @include respond(pc) {
      margin-left: 5em;
    }
    @include respond(tablet) {
      margin-left: 1em;
    }
  }
}
.section_inner_images_right_row {
  @extend %section_inner_images_row;
  @include respond(pc) {
    margin-right: 5em;
  }
  @include respond(tablet) {
    margin-right: 1em;
  }
}
*/

.section_inner_images_row {
  @include respond(pc) {
    padding-top: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  @include respond(tablet) {
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .section_images_left {
    display: block;
    float: left;
    margin-right: 1em;
    width: 200px;
    height: 140px;
    @include respond(pc) {
      width: 460px;
      height: 400px;
      margin-right: 5em;
    }
    @include respond(tablet) {
      width: 260px;
      height: 400px;
      margin-right: 3.3em;
    }

    img {
      border: #303030 solid 2px;
      position: absolute;
      width: 160px;
      @include respond(pc) {
        width: 460px;
      }
      @include respond(tablet) {
        width: 260px;
      }

      height: auto;
      border-radius: 12px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
      transition: transform 0.3s ease;

      &:nth-child(1) {
        transform: rotate(-12deg) translateX(-40px);
        z-index: 1;
      }
      &:nth-child(2) {
        transform: rotate(0deg);
        z-index: 3;
      }
      &:nth-child(3) {
        transform: rotate(12deg) translateX(40px);
        z-index: 2;
      }

      .active {
        z-index: 10;
      }
    }

    img.active {
      z-index: 10;
    }

    &:hover img:nth-child(1) {
      transform: rotate(-18deg) translateX(-80px);
    }

    &:hover img:nth-child(3) {
      transform: rotate(18deg) translateX(80px);
    }
  }
}
