@use "../response" as *;



.sectionline {
  &::after {
    content: ""; // required for pseudo-elements
    display: block; // makes it appear like an <hr>
    border-bottom: 1px solid #ccc; // color & thickness
    margin: 20px 0; // spacing above & below
  }
  &:last-child::after {
    content: none; // remove the separator for the last section
  }
}

.section_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section_title {
  flex: 100%;
}

.section_header {
  flex: 100%;
}

.section_inner_wrap_left {
  align-items: flex-start;
  gap: 15px; /* space between image and text */

  img {
    float: left; /* Makes text wrap around image */
    margin-right: 15px; /* Space between image and text */
    margin-bottom: 10px; /* Space below image if text goes under */
    width: 300px; /* Or your desired width */
    height: auto;
  }

  p {
    margin: 0 0 10px 0;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
