@use "../response" as *;

#contentarea {
  width: 100%;
}

.sections {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include respond(tablet) {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include respond(pc) {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.sectionline {
  &::after {
    content: ""; // required for pseudo-elements
    display: block; // makes it appear like an <hr>
    border-bottom: 1px solid #ccc; // color & thickness
    margin: 20px 0; // spacing above & below
  }
  &:last-child::after {
    content: none; // remove the separator for the last section
  }
}

.section_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section_title {
  flex: 100%;
}

.section_header {
  flex: 100%;
}

.section_inner_wrap_left {
  align-items: flex-start;
  gap: 15px; /* space between image and text */

  img {
    display: none;
    @include respond(tablet, pc) {
      display: block;
      float: left;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 15px;
    }
    @include respond(pc) {
      max-width: 480px;
      margin-right: 2em;
      margin-top: 1em;
    }
    @include respond(tablet) {
      max-width: 360px;
      margin-right: 1em;
      margin-top: 0.75em;
    }
  }

  p {
    margin: 0 0 10px 0;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
