<link
      rel="icon"
      type="image/png"
      href="https://gmfc-images-siteimages.s3.eu-west-2.amazonaws.com/favicon/favicon-96x96.png"
      sizes="96x96"
    />
<link rel="icon" type="image/svg+xml" href="https://gmfc-images-siteimages.s3.eu-west-2.amazonaws.com/favicon/favicon.svg" />
<link rel="shortcut icon" href="https://gmfc-images-siteimages.s3.eu-west-2.amazonaws.com/favicon/favicon.ico" />
<link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/https://gmfc-images-siteimages.s3.eu-west-2.amazonaws.com/favicon/apple-touch-icon.png"
 />
<!--<link rel="manifest" href="/site.webmanifest" />-->